<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <title>GCP Tools - aaronbieber.com</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo">GCP Tools</a>
    </header>

    <div class="container">

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="card fluid">
            <div class="section">
              {{#user}}
                <p>Click below to run a storage analysis.</p>
                <p><a href="/storage/files" class="button tertiary">Run storage analysis</a></p>
              {{/user}}

              {{^user}}
                <a href="/auth/google" class="button primary">Log in with Google</a>
              {{/user}}
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

    </div>
  </body>
</html>