{{>header}}
<div class="row">
  <div class="col-lg-4 col-md-2 col-sm-12"></div>
  <div class="col-lg-4 col-md-8 col-sm-12">
    <div class="card fluid">
      <div class="section">
        {{#user}}
          <p>Click below to run a storage analysis.</p>
          <p><a href="/storage/files" class="button tertiary">Run storage analysis</a></p>
        {{/user}}

        {{^user}}
          <a href="/auth/google" class="button primary">Log in with Google</a>
        {{/user}}
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-2 col-sm-12"></div>
</div>
{{>footer}}