{{>header}}
<div class="row">
  <div id="js-data" class="col-lg-12" style="width: 100%;">
    <div class="center_outer">
      <div class="center_middle">
        <div class="center_inner">
          <div style="text-align:center;">
            <p>Traversing buckets...</p>
            <div class="spinner-donut large"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="storage-table" type="x-tmpl-mustache">
  {{>_storage_table}}
</script>

<script language="javascript" src="/scripts/async.js"></script>
{{>footer}}