<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <link rel="stylesheet" href="/styles/base.css" />
    <script language="javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script language="javascript" src="/scripts/mustache.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <title>GCP Tools - aaronbieber.com</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo">GCP Tools</a>
    </header>